

/* ==========================================================================
   Kaan Vurgun @immortalcain
   ========================================================================== */


.modal-title, .page-header{
    color:#734592;
}
video {width: 100%;}
/*#hiddencanvas {display: none;}*/